
    <div class="ui container">
        <fieldset>
            <legend align='center'>Register Type of Measure</legend>
            <div class="ui form">
                <div class="three fields">
                <div class="field">
                    <label>Name Of Measure</label>
                    <input type="text" placeholder="Name Of Measure">
                </div>
                <div class="field">
                    <label>Mantainance Price</label>
                    <input type="text" placeholder="Price">
                </div>
                <div class="field">
                    <label>Description</label>
                    <input type="text" placeholder="Description">
                </div>
                </div>
                <div class="one fields">
                    <div class="right field">
                        <div class="ui buttons">
                            <button class="ui button">Cancel</button>
                            <div class="or"></div>
                            <button class="ui positive button">Save</button>
                          </div>
                    </div>
                </div>
            </div>
        </fieldset>  
    </div>
    
