<div class="ui four column doubling grid">
    <div class="column contents">
        <div style="display: grid;grid-template-columns: 1fr 1fr;">
            <div>
                <span style="font-size: 16px;" class="sub-title">Recieved Grn</span>
                <h1 class="ui header custom_header" style="color: #2185d0;">4000</h1>
            </div>

            <div>
                <img src="images/hsp.png" width="70" style="float: right;" alt="">
            </div>
        </div>
    </div>

    <div class="column contents">
        <div style="display: grid;grid-template-columns: 1fr 1fr;">
            <div>
                <span style="font-size: 16px;" class="sub-title">Pending Grn</span>
                <h1 class="ui header custom_header" style="color: #ff9595;">Tshs 4000 </h1>
            </div>

            <div>
                <img src="images/money.png" width="73" style="float: right;" alt="">
            </div>
        </div>
    </div>
</div>