<h3 class="ui header">
    <fieldset>
        <legend>Make Requisitions</legend>
        <table width='100%'>
            <tr>
                <td width='20%'>
                    <div class="field">
                        <label>Document Number</label>
                        <br>
                        <div class="ui fluid input">
                            <input type="text" width="100%">
                        </div>
                    </div>
                </td>

                <td width='20%'>
                    <div class="field">
                        <label>Requistion Date</label>
                        <br>
                        <div class="ui fluid input">
                            <input type="text">
                        </div>
                    </div>
                </td>

                <td width='20%'>
                    <div class="field">
                        <label>Store Requesting</label>
                        <br>
                        <div class="ui fluid input">
                            <input type="text">
                        </div>
                    </div>
                </td>

                <td width='20%'>
                    <div class="field">
                        <label>Officer</label>
                        <br>
                        <div class="ui fluid input">
                            <input type="text">
                        </div>
                    </div>
                </td>

                <td width='20%'>
                    <div class="field">
                        <label>Requistion Description</label>
                        <br>
                        <div class="ui fluid input">
                            <input type="text">
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <br><br>
        
        <div id="itemsFilter">
            <div class="leftContent">
                <div class="field">

                    <select class="ui dropdown">
                        <option value="">Gender</option>
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>
</h3>